*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
}
img{
	background-size: cover;
}
body{
	font-family: 'Kanit', sans-serif;
	background-color: white;
}

/* header */
header{
	background-color: white;
	display: flex;
	width: 85%;
	margin: auto;
	height: 175px;
	justify-content: space-between;
	align-items: center;
}
.contenedor1{
	display: flex;
	align-items: center;
	margin-left: 10px;
}
h1{
	margin-left: 30px;
	font-size: 3.5rem;
	font-weight: 750;
}
.contenedor1 img{
	width: 150px;
}
NAV{
	display: flex;
	margin-right: 20px;
}
nav a{
	font-weight: 700;
	font-size: 2rem;
	padding: 20px;
	color: black;
}

/* main */
.bannerContainer{
	width: 85%;
	margin: auto;
}
.banner{
	width: 100%;
	border-radius: 30px;
}
.quienesSomos{
	display: flex;
	width: 85%;
	margin: 2rem auto;
	text-align: center;
}
/* proximos shows */
.proximosShows h2{
	background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 4rem auto 0 auto;
}
.proximosShows__container{
	width: 90%;
	display: flex;
	margin: 3rem auto;
}
.flyers__container{
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
}
.flyer{
	width: 100%;
	border-radius: 10%;
	box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.29);
	transition: all 0.5s;
}
.flyer:hover{
	transform: scale(0.95);
	transition: all 0.5s;
}
.shows{
	text-align: center;
	width: 75%;
}
.shows h3{
	padding: 5%;
    margin: auto;
    font-weight: 900;
    font-size: 3rem;
}
.shows p{
	background-color: black;
    color: white;
    padding: 5%;
    border-radius: 30px;
    margin: auto;
    font-weight: 700;
    font-size: 1.5rem;
    width: 75%;
}
/* footer */

